<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <a class="logo">Mostro Lounge</a>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "TOP", root_path %></li>
        <li><%= link_to "MESSEGE", message_path %></li>
        <li><%= link_to "MENU", menu_path %></li>
        <li><%= link_to "ACCESS", access_path %></li>
        <li><%= link_to "RECRUIT", recruit_path %></li>
        <li><%= link_to "INFO", info_path %></li>
      </ul>
    </nav>
  </div>
</header>
